body {
    font-family: 'Dana', Arial, Helvetica, sans-serif;
    background-color: #f7f9fc;
    padding: 1rem;
}

@font-face {
    font-family: 'Dana';
    src: url('../fonts/DanaFaNum-Regular.ttf') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Dana-Bold';
    src: url('../fonts/DanaFaNum-Bold.ttf') format('woff2');
    font-display: swap;
}

@media screen and (min-width: 768px) {
    .preview-image {
        max-width: 50%;
        height: 50%;
        object-fit: contain;
    }
}
